.feature-card::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $accentBgColor;
  border-radius: 4px;
}

.feature-card--icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
}

.feature-card--icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 67px 70px;
}

.feature-card--icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 54px;
}

.feature-card--icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
}

.feature-card__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $primaryTextColor;
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-card__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $secondaryTextColor;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 270px;
}
