.project-card {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
  align-content: stretch;
  background: $primaryColor;
  box-sizing: border-box;
  width: 370px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-card__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .project-card__thumb::before,
  &:focus .project-card__thumb::before {
    transform: translateY(0px);
    background-color: $secondaryOverlayBgColor;
  }

  &:hover .project-card__overlay-description,
  &:focus .project-card__overlay-description {
    transform: translateY(0px);
    opacity: 1;
  }
}

.project-card__thumb {
  position: relative;
  display: block;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.project-card__overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  margin: 0px;
  padding: 63px 24px;
  display: block;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $primaryColor;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__image {
  width: 100%;
  height: auto;
}

.project-card__description-thumb {
  padding: 20px 25px;
  border-bottom: 1px solid $projectBrColor;
  border-right: 1px solid $projectBrColor;
  border-left: 1px solid $projectBrColor;
}

.project-card__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: $primaryTextColor;
  margin-top: 0px;
  margin-bottom: 5px;
}

.project-card__type {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: $secondaryTextColor;
  margin: 0px;
}
