.section-titles {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
  margin-top: 0px;
  margin-bottom: 50px;
}
