// Colors
$primaryColor: #ffffff;
$secondaryColor: #2f303a;
$accentBgColor: #f5f4fa;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentElementColor: #2196f3;
$projectBrColor: #eeeeee;
$primaryOvarlayBgColor: rgba(47, 48, 58, 0.8);
$networkIconBgColor: rgba(255, 255, 255, 0.1);
$elementsColor: #afb1b8;
$footerContactColor: rgba(255, 255, 255, 0.6);
$backdropBgColor: rgba(0, 0, 0, 0.2);
$secondaryOverlayBgColor: rgba(33, 149, 243, 0.9);

// Fonts
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
