#contacts {
  display: flex;
  align-items: baseline;
}

.footer {
  background: $secondaryColor;
  padding-top: 60px;
  padding-bottom: 60px;
}

// Contacts widget

.contacts-widget {
  margin-right: 70px;

  &__list {
    font-family: $primaryFont;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    &--post-address {
      display: inline-block;
      color: $primaryColor;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }

  &__link {
    color: $footerContactColor;
    inline-size: 10px;
  }
}

// Social networks widget

.social-networks-widget {
  margin-right: 93px;
}

.social-networks-list {
  display: flex;
}

// Subscribe form widget

.subscribe-form-widget {
  margin-left: auto;
}
