.footer {
  background: $secondaryColor;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .contacts-socnet-widget {
    display: flex;
    justify-content: center;
  }
}

// Contacts widget
  
.contacts-widget {
  text-align: center;
  margin-bottom: 60px;

  &__list {
    font-family: $primaryFont;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    &--post-address {
      display: block;
      color: $primaryColor;
      margin-bottom: 8px;
      margin-top: 20px;

      @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
      }
    }
  }
  
  &__link {
    color: $footerContactColor;
    inline-size: 10px;

    &:not(:last-child) {
      margin-bottom: 8px;

      @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.social-networks-widget {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 93px;
  }
}

.social-networks-list {
  display: flex;
  justify-content: center;
}
  
// Subscribe form widget
  
.subscribe-form-widget {
  display: block;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  #contacts {
    display: flex;
    align-items: flex-start;
  }
}