.header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $primaryColor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
