.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background: $primaryColor;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
