.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
  background: $primaryColor;
  font-family: $primaryFont;
  font-style: normal;
}

.nav-projects {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-projects > li:not(:last-child) {
  margin-right: 8px;
}

.projects-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
